* {
  margin: 0;
  padding: 0;
}

body {
  background: lightgoldenrodyellow;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper {
  width: 572px;
  height: 397px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 340px;
  height: 318px;
  position: absolute;
  right: 12px;
  border-radius: 50%;
  background: #00a0e9;
  border: #000 solid 2px;
  z-index: 6;
}

.face {
  width: 305px;
  height: 235px;
  position: absolute;
  right: -8px;
  bottom: 2px;
  background: #fff;
  border: #000 solid 2px;
  border-radius: 50%;
  transform: rotate(-25deg);
}

.eye {
  width: 75px;
  right: 182px;
  height: 97px;
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  background: #fff;
  top: 34px;
  transform: rotate(-20deg);
}

.eyeBlack {
  width: 18px;
  height: 36px;
  position: absolute;
  right: 7px;
  bottom: 23px;
  background: #000;
  border-radius: 50%;
}

.eyeWhite {
  width: 8px;
  height: 12px;
  position: absolute;
  right: 3px;
  bottom: 13px;
  background: #fff;
  border-radius: 50%;
}

.eye-right {
  right: 110px;
  top: 2px;
  transform: rotate(-28deg);
}

.eye-right .eyeBlack {
  left: 14px;
  bottom: 28px;
}

.noseLine {
  width: 20px;
  height: 160px;
  border-right: 2px solid black;
  border-radius: 50%;
  position: absolute;
  right: 120px;
  top: 100px;
  transform: rotate(-20deg);
}

.quilt {
  width: 100px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  right: 60px;
}

.nose {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 84px;
  right: 132px;
  background: #e0002a;
  border-radius: 50%;
  border: 2px solid black;
}

.nose .white {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 14px;
  left: 10px;
  background: #fff;
  border-radius: 50%;
}

.mouthBox {
  width: 290px;
  height: 82px;
  position: absolute;
  bottom: 84px;
  right: 0;
  transform: rotate(-20deg);
  overflow: hidden;
}

.mouth {
  width: 290px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid black;
}

.beard {
  width: 107px;
  height: 2px;
  background: #000;
  position: absolute;
}

.beard1 {
  top: 170px;
  left: 70px;
  transform: rotate(-5deg);
}

.beard2 {
  top: 202px;
  left: 76px;
  transform: rotate(-20deg);
}

.beard3 {
  top: 230px;
  left: 88px;
  transform: rotate(-30deg);
}

.beard4 {
  top: 120px;
  right: -10px;
  transform: rotate(-30deg);
}

.beard5 {
  top: 150px;
  right: -20px;
  transform: rotate(-20deg);
}

.beard6 {
  top: 180px;
  right: -30px;
  transform: rotate(-10deg);
}

.neckBox {
  width: 302px;
  height: 318px;
  position: absolute;
  background: #e0002a;
  border: 2px solid black;
  z-index: 3;
  right: 41px;
  top: 18px;
  overflow: hidden;
  border-radius: 50%;
}

.neckBox .neck {
  width: 340px;
  height: 318px;
  position: absolute;
  background: #e0002a;
  z-index: 3;
  right: 5px;
  bottom: -3px;
  border-radius: 50%;
}

.bell {
  width: 56px;
  height: 56px;
  background: #ffe43b;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  bottom: 27px;
  right: 110px;
  z-index: 5;
  overflow: hidden;
}

.bell .line {
  width: 56px;
  height: 50px;
  border-right: 2px solid #000;
  position: absolute;
  top: 20px;
  left: -24px;
  border-radius: 50%;
}

.bell .linebg {
  width: 86px;
  height: 56px;
  background: #ffe43b;
  position: absolute;
  bottom: 18px;
  left: -30px;
  border-radius: 50%;
}

.bell .center {
  width: 15px;
  height: 7px;
  border-radius: 50%;
  background: #7d6b56;
  border: #000 solid 2px;
  position: absolute;
  top: 33px;
  left: 22px;
  transform: rotate(-10deg);
}

.bell .top {
  width: 86px;
  height: 56px;
  background: #ffe43b;
  border: 2px solid #000;
  position: absolute;
  bottom: 28px;
  left: -30px;
  border-radius: 50%;
}

.bell .top-short {
  width: 86px;
  height: 56px;
  background: #ffe43b;
  border: 2px solid #000;
  position: absolute;
  bottom: 35px;
  left: -30px;
  border-radius: 50%;
}

.arm-right {
  width: 130px;
  height: 90px;
  position: absolute;
  bottom: 46px;
  right: 0;
  border-radius: 50%;
  background: #00a0e9;
  border: #000 solid 2px;
}

.arm-right .hand-right {
  width: 78px;
  height: 60px;
  position: absolute;
  top: -30px;
  right: -10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid black;
  transform: rotate(-45deg);
}

.arm-right .line {
  width: 80px;
  height: 80px;
  position: absolute;
  border-left: 2px solid black;
  border-bottom: 2px solid transparent;
  top: 8px;
  right: -6px;
  border-radius: 50%;
  transform: rotate(50deg);
}

.left-arm-top {
  width: 74px;
  height: 40px;
  background: #00a0e9;
  border-top: 2px solid black;
  border-left: 2px solid #00a0e9;
  position: absolute;
  bottom: 58px;
  right: 240px;
  transform: rotate(20deg);
  z-index: 5;
}

.left-arm {
  width: 180px;
  height: 70px;
  position: absolute;
  bottom: 6px;
  right: 152px;
  overflow: hidden;
  z-index: 5;
}

.left-arm .arm-wrapper {
  width: 260px;
  height: 110px;
  border: 2px solid #000;
  background: #00a0e9;
  border-left: 2px solid transparent;
  position: absolute;
  bottom: 26px;
  right: -3px;
  border-radius: 50%;
  transform: rotate(30deg);
}

.left-arm .line {
  width: 40px;
  height: 80px;
  position: absolute;
  background: none;
  border-left: 2px solid #000;
  top: 0;
  right: 48px;
}

.hand-left {
  width: 86px;
  height: 70px;
  position: absolute;
  bottom: 32px;
  right: 168px;
  border-radius: 50%;
  background: #fff;
  border: #000 solid 2px;
  transform: rotate(20deg);
  z-index: 7;
}

.arse {
  width: 186px;
  height: 186px;
  position: absolute;
  top: 160px;
  left: 106px;
  border-radius: 50%;
  background: #00a0e9;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid #00a0e9;
  transform: rotate(40deg);
  z-index: 2;
}

.tummy {
  width: 240px;
  height: 186px;
  position: absolute;
  bottom: 33px;
  left: 146px;
  border-radius: 50%;
  background: #00a0e9;
  border-bottom: 2px solid black;
}

.leg {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 37px;
  left: 82px;
  border-radius: 50%;
  background: #00a0e9;
  border: 2px solid black;
  z-index: 1;
}

.leg-bottomBox {
  width: 160px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  bottom: 34px;
  left: 90px;
  border-radius: 50%;
  z-index: 2;
}

.leg-bottom {
  width: 240px;
  height: 120px;
  position: relative;
  bottom: 4px;
  left: -50px;
  border-radius: 50%;
  border-bottom: 2px solid;
  background: #00a0e9;
}

.foot {
  width: 120px;
  height: 100px;
  position: absolute;
  bottom: 38px;
  left: 22px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  transform: rotate(-20deg);
}

.tail {
  width: 58px;
  height: 58px;
  position: absolute;
  bottom: 216px;
  left: 92px;
  animation: tailshake 1.5s ease-in-out infinite alternate;
}

.tail .circle {
  width: 50px;
  height: 50px;
  background: #e0002a;
  border: 2px solid black;
  border-radius: 50%;
}

.tail .lineBox {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0;
  right: 4px;
  overflow: hidden;
}

.tail .lineBox .line {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  position: absolute;
  bottom: -30px;
  left: -36px;
  border-radius: 50%;
}

@keyframes tailshake {
  0% {
    transform-origin: bottom right;
    transform: rotateZ(25deg);
  }

  100% {
    transform-origin: bottom right;
    transform: rotateZ(-25deg);
  }
}
